name: Docker Image

on:
  push:
    branches:
      - main

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    env:
      IMAGE_NAME: jwt-validator
      GHCR_REGISTRY: ghcr.io
      GHCR_IMAGE: ghcr.io/inherix/customer/jwt-validator
      IMAGE_TAG: ${{ github.sha }}
      AWS_REGION: us-east-1
      EKS_CLUSTER_NAME: inherix-dev

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build and Push Docker Image
        env:
          GITHUB_USERNAME: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GHCR_TOKEN }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
         mvn clean compile jib:build \
           -Dimage=${{ env.GHCR_IMAGE }}:${{ env.IMAGE_TAG }} \
           -Djib.to.auth.username=${GITHUB_USERNAME} \
           -Djib.to.auth.password=${GITHUB_TOKEN}

      - name: Setup AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
           aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
           aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
           aws-region: us-east-1

      - name: Update Kubeconfig
        run: aws eks update-kubeconfig --region us-east-1 --name inherix-dev

      - name: Create GHCR secret in EKS
        run: |
          kubectl create secret docker-registry ghcr-secret \
              --docker-server=ghcr.io \
              --docker-username=${{ github.actor }} \
              --docker-password=${{ secrets.GHCR_TOKEN }} \
              --dry-run=client -o yaml | kubectl apply -f -   

      - name: Deploy to EKS
        run: |
          kubectl apply -f k8s/deployment.yaml
          kubectl apply -f k8s/service.yaml

      - name: Update Deployment with new image
        run: |
          kubectl set image deployment/jwtvalidator-deployment \
          jwtvalidator=${{ env.GHCR_IMAGE }}:${{ env.IMAGE_TAG }}     
  
